<% provide(:title, 'patient sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@patient) do |f| %>
    <%= render 'shared/patient_error_messages' %>

      <%= f.hidden_field :therapist_id, :value => @therapist_id %>

      <%= f.label :username %>
      <%= f.text_field :username %>

      <%= f.label :first_name %>
      <%= f.text_field :first_name %>

      <%= f.label :last_name %>
      <%= f.text_field :last_name %>

      <%= f.label :age %>
      <%= f.date_select(:age, :start_year => 1910, :end_year => Date.today.year,
                        :use_month_numbers => true, :prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year'}) %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Create patient account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>