<% content_for :javascripts do  %>
	<script type="text/javascript" charset="utf-8">
    function updateStats(game_id, patient_id) {
        function processJson(data) {
            for (var i=0;i<data.length;i++)
                for(var j=0;j<data[i].length;j++)
            {
                data[i][j][0] = new Date(data[i][j][0] * 1000).getTime();
                data[i][j][1] = parseInt(data[i][j][1]);
            }
            return data;
        }

        var ajaxData = {
            "statistic": {
                "game_id" : game_id,
                "user_id" : patient_id
            }
        }

        var dataSeries;
        var chart;
        $.getJSON('<%= escape_javascript("/statistics/#{@patient.id.to_s}") %>',
                    ajaxData, 
                    function(data){
                        dataSeries = processJson(data);
                        renderGraph();
                    });

        function renderGraph(){
            chart = new Highcharts.Chart({
                chart: {
                    zoomType: 'x',
                    type: 'line',
                    renderTo: "stats_chart"
                },
                title: {
                    text: "game statistics"
                },
                xAxis: {
                    type: 'datetime',
                    labels: {
                        formatter: function() {
                            return Highcharts.dateFormat('%d/%m/%Y', this.value);
                        }
                    },
                    tickPixelInterval: 200
                },
                yAxis: {
                    title: {
                        text: "Performance"
                    }
                },
                tooltip: {
                    formatter: function() {
                        return '<b>' + this.series.name + '</b><br/>' + 
                        Highcharts.dateFormat('%e. %b', this.x) + ': ' + this.y;                   }
                },
                series: [{
                    name: 'Performance ratio',
                    data: dataSeries[0]
                }, {
                    name: 'Repeats',
                    data: dataSeries[1]
                }, {
                    name: 'Time',
                    data: dataSeries[2]
                }
                ]
            });
        }
    }

    $(document).ready(function() {
        $("#stats_select").change(function() {
        updateStats($(this).val(), $("#patient_id").val());
        });
        $("#instruction_submit").click(function() {
            $("#instuctions_span").empty();
        });
        $("#new_instruction").bind("ajax:success", function() {
            $("#instuctions_span").append("instruction sent");
        });
         $('.best_in_place').bind('ajax:success', function(){ 
            this.innerHTML = this.innerHTML.replace(/\n/g, '<br />') 
        });
    });
        
    </script>
<% end %>

<%= link_to "Back to profile page",   current_user %>
</br>
    <h1><%= @patient.full_name %></h1>
    
    <section class="property">
        <h3 style="color:red">Last login: <%= (@patient.last_login + 3.hours).strftime("%A %d/%m/%Y at %H:%M") %></h3>
    </section>

    <section class="property">
        <h3>Gender: 
            <span class="gender"><%= best_in_place @patient, :gender, type: :select, collection: [["Male", "Male"], ["Female", "Female"]] %></span>
        </h3>
    </section>
    
    <section class="property">
        <h3>Date of birth: 
            <span class="date_of_birth">(y-m-d)<%= best_in_place @patient, :date_of_birth, 
            :type => :date %> (<%= @patient.age %>)</span>
        </h3>
    </section>
    
    <section class="property">
        <h3>Address: 
            <span class="address"><%= best_in_place @patient, :address %></span>
        </h3>

    </section>
    
    <section class="property">
        <h3>Phone number: 
            <span class="phone_number"><%= best_in_place @patient, :phone_number %></span>
        </h3>
    </section>
    
    <section class="property">
        <h3>Injury description: </h3>
        <h4>
            <span class="injury"><%= best_in_place @patient, :injury, type: :textarea %></span>
        </h4>
    </section>

<div id="statistics">
	<form>
        <p>Patient's statistics</p>
	    <%= hidden_field :patient, :id, :value => @patient.id %>
	    <%= select :game, :id, Game.all.collect {|p| [p.name, p.id]}, {:prompt => "Select game"}, {:id => 'stats_select', :style => "width: 350px" } %>
    </form>
	<div id="stats_chart" style="with:560px; hight:300px"></div>
    <%= form_for(Instruction.new, remote: true) do |f| %>
        <p><b>Select patient's assignments</b></p>
        <%= f.hidden_field :patient_id, :value => @patient.id %>
        <%= f.select :games_id, Game.all.collect {|p| [p.name, p.id]}, {}, {:multiple => true, :style => "width: 350px" } %>

        <%= f.label :details ,"Enter instructions" %>
        <%= f.text_area :details, :rows => 5, :style => "width: 400px" %>
        </br>
        <%= f.submit "Submit instruction to patient", {:class => "btn btn-small btn-primary", :id => "instruction_submit" } %>
        </br>
        <span class="label label-success" id="instuctions_span"></span>
    <% end %>


	
</div>