<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Brain Tracker", root_path, id: "logo" %>
      <nav>
        <p>
          <%= link_to_unless I18n.locale == :en, "English", set_language_english_path %>
          |
          <%= link_to_unless I18n.locale == :he, "Hebrew", set_language_hebrew_path %>
        </p>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Help", help_path %></li>
          <li><%= link_to "Games", games_path %></li>
          <% if signed_in? %>
            
                <li><%= link_to "Profile", user_path(current_user) %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
    
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>